*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    background-color: rgb(37, 37, 37);
    scroll-behavior: smooth;
}

.header{
    margin-top: 10px!important;
    background-color: rgb(37, 37, 37);
    color: white;
}
