<div class="row">
    <div class="col text-center border border-1 border-light rounded-2 p-3">
        <h3> Барбершоп "Как стиль жизни" </h3>— это не просто место для стрижки, 
        а целая философия, где каждый клиент становится частью уникальной культуры стиля
         и ухода за собой. Мы предлагаем профессиональные услуги по стрижке,
          бритью и уходу за бородой в атмосфере, вдохновленной классическими традициями 
          и современными тенденциями. <br>

        Наши мастера — настоящие эксперты своего дела, 
        которые не только создадут идеальный образ, 
        но и помогут вам раскрыть индивидуальность. <br>

         Мы верим, что стиль — это больше, чем просто внешний вид;
          это отражение вашего внутреннего мира и образа жизни. <br>

        В "Как стиль жизни" вы найдете не только качественные услуги,
         но и уютную атмосферу, где можно расслабиться, пообщаться с
          единомышленниками и насладиться процессом. Мы используем только лучшие
           продукты и заботимся о каждом клиенте, создавая атмосферу доверия и комфорта. <br>

        Приходите к нам, и пусть ваш стиль станет вашим образом жизни!
    </div>
</div>